*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:linear-gradient(rgba(0,0,0,0.5),  rgba(0,0,0,0.5)),url("../IMAGE/1287407.jpg");
     background-size: cover;
}
.contact .content
{
    max-width: 800px;
    text-align: center;

}
.contact .content h2
{
    font-size:36px;
    font-weight: 500;
    color: #fff;

}
.contact .content p
{
    font-weight: 300;
    color: #fff;
    
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo
{
    width:50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .box
{
    align-items: center;
    border-radius: 50%;
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactinfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactinfo .box .text h3
{
    font-weight: 500;
    color:darkorange;
}
.contactform
{
 width:40%;
 padding: 40px;
 background: chocolate;
}
.contactform h2
{
    font-size: 30px;
    color: #333;
    font-family: 500;
}
.contactform.inputbox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

a{

    position: relative;
    margin-top: 100px;
    color: yellow;
    font-weight: bold;
}