*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../IMAGE/sample.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
} 
ul{
    float:right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}
ul li a{ 
    text-decoration: none;
    padding: 5px 10px;
    border: 1px  solid transparent;
    transition:0.6s ease;
    color:  rgb(250, 107, 5);
    font-weight: 500;
}

ul li a:hover{
    color: whitesmoke;
    background-color: brown;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main{
    max-width: 1200px;
    margin:auto;
}
.title{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: rgb(250, 107, 5);
    font-size: 50px;
}